<p>show-blood-units works!</p>
  <div>
    <!-- {{ dataSource | json }} -->
    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="lokalizacja">
        <th mat-header-cell *matHeaderCellDef>Lokalizacja jednostki krwi</th>
        <td mat-cell *matCellDef="let bloodUnits">
          {{ bloodUnits.bloodUnitLocation || "Brak danych" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="dostepnosc">
        <th mat-header-cell *matHeaderCellDef>Dostępna</th>
        <td mat-cell *matCellDef="let bloodUnits">
          {{ bloodUnits.isAvailable | bloodStoragePipe }}
        </td>
      </ng-container>
      <ng-container matColumnDef="covid">
        <th mat-header-cell *matHeaderCellDef>Po Covid</th>
        <td mat-cell *matCellDef="let bloodUnits">
          {{ bloodUnits.isAfterCovid | bloodStoragePipe }}
        </td>
      </ng-container>
      <ng-container matColumnDef="grupaKrwii">
        <th mat-header-cell *matHeaderCellDef>Grupa Krwii</th>
        <td mat-cell *matCellDef="let bloodUnits">
          {{ bloodUnits.bloodTypeId | bloodTypeNamePipe }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ustawNiedostepny">
        <th mat-header-cell *matHeaderCellDef>Ustaw na niedostępną</th>
        <td mat-cell *matCellDef="let donators" class="on-hover-td">
          <mat-icon
          class="action"
          matTooltip="Ustaw jednostkę krwi na niedostępną"
          matTooltipPosition="right"
          (click)="bloodUnitListClick(donators)"
          >clear</mat-icon
        >
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let bloodUnit; columns: displayedColumns"
      ></tr>
    </table>
  </div>