<p>add-examination works!</p>
<form
  [formGroup]="addExaminationForm"
  fxLayout="column"
  class="add-examination-form"
>
  <h2>Formularz dodawania badań</h2>

  <div class="user-data-container">
    <mat-form-field>
      <mat-label>HB</mat-label>
      <input type="number" matInput formControlName="hb" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>HT</mat-label>
      <input type="number" matInput formControlName="ht" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>RBC</mat-label>
      <input type="number" matInput formControlName="rbc" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>WBC</mat-label>
        <input type="number" matInput formControlName="wbc" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>PLT</mat-label>
        <input type="number" matInput formControlName="plt" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>MCH</mat-label>
        <input type="number" matInput formControlName="mch" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>MCHC</mat-label>
        <input type="number" matInput formControlName="mchc" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>MCV</mat-label>
        <input type="number" matInput formControlName="mcv" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>NE</mat-label>
        <input type="number" matInput formControlName="ne" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>EO</mat-label>
        <input type="number" matInput formControlName="eo" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>BA</mat-label>
        <input type="number" matInput formControlName="ba" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>LY</mat-label>
        <input type="number" matInput formControlName="ly" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>MO</mat-label>
        <input type="number" matInput formControlName="mo" />
    </mat-form-field>

    <button
      mat-stroked-button
      color="primary"
      (click)="onAddExamination()"
      [disabled]="addExaminationForm.invalid"
    >
      Dodaj badania
    </button>
  </div>
</form>