<div class="covid-informations-container" fxLayout="column">
  <h2 fxLayoutAlign="center center">
    Szczepionka przeciwko COVID-19 a oddawanie krwi
  </h2>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ul>
      <li>szczepionki Pfizer oraz Moderna:</li>
      po szczepieniu - można zgłosić się do oddania krwi lub jej składników
      najwcześniej po
      <b>48 godzinach</b>
      od szczepienia
      <li>szczepionki Astra Zeneca, Johnson&amp;Johnson:</li>
      po szczepieniu - można zgłosić się do oddania krwi lub jej składników
      najwcześniej po
      <b>14 dniach</b>
      od szczepienia.
    </ul>
    <div fxLayoutAlign="center center">
      <p>
        W przypadku wystąpienia jakichkolwiek objawów po szczepieniu można
        zgłosić się do oddania krwi lub jej składników najwcześniej po
        <b>7 dniach</b> od ustąpienia objawów.
      </p>
    </div>
  </div>
</div>
