<p>worker-panel works!</p>
<button mat-stroked-button color="primary" (click)="onShowOrAddBloodDonatorsClick()">Wyświetl listę krwiodawców/Dodaj nowego krwiodawcę</button>
<button mat-stroked-button color="primary" (click)="onShowMagazinClick()">Magazyn</button>
<button mat-stroked-button color="primary" (click)="onAddForeignBloodClick()">Dodaj krew z obcego banku</button>
<button mat-stroked-button color="primary" (click)="onShowProfileClick()">Wyświetl swój profil</button>
<button mat-stroked-button color="primary" (click)="onShowDonationsClick()">Wyświetl donacje</button>
<button mat-stroked-button color="primary" (click)="onShowRegisteredQueueClick()">Wyświetl kolejkę zarejestrowanych</button>
<button mat-stroked-button color="primary" (click)="onShowBloodExaminedQueueClick()">Wyświetl kolejkę krew zbadana</button>
<button mat-stroked-button color="primary" (click)="onShowBloodQualifiedQueueClick()">Wyświetl kolejkę zakwalifikowanych</button>