.footer {
  color: white;
  font-size: 16px;
  background-color: red;
  height: 64px;
  padding-right: 20px;
  width: 100%;
}

.copyright-text {
  padding-left: 26px;
}

.copyright-text-mobile {
  padding: 0;
}
