<table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
  <ng-container matColumnDef="dataDonacji">
    <th mat-header-cell *matHeaderCellDef>Data donacji</th>
    <td mat-cell *matCellDef="let donation">{{ donation.donationDate }}</td>
  </ng-container>
  <ng-container matColumnDef="etapDonacji">
    <th mat-header-cell *matHeaderCellDef>Etap donacji</th>
    <td mat-cell *matCellDef="let donation">
      {{ donation.stage | donationsStagePipe }}
    </td>
  </ng-container>
  <ng-container matColumnDef="powodOdrzuceniaDonacji">
    <th mat-header-cell *matHeaderCellDef>Powód odrzucenia donacji</th>
    <td mat-cell *matCellDef="let donation">
      {{ donation.rejectionReason || 'Brak' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr
    mat-row
    *matRowDef="let donation; columns: columns"
    (click)="donationListClick(donation)"
  ></tr>
</table>
