mat-card {
  margin: 0 auto;
  margin-top: calc(50vh - 128px - 190px);
  max-width: 400px;
  word-wrap: break-word;
}

.button-container {
  button {
    margin-top: 5px;
  }
}

mat-form-field {
  margin-top: 5px;
}
