<mat-card>
  <mat-card-header>
    <mat-card-title>Formularz edycji wyników badania</mat-card-title>
    <mat-card-subtitle>Wprowadź wyniki badania lekarskiego</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="editDoctorExaminationForm"
      fxLayout="column"
      class="edit-examination-form"
    >
      <div class="user-data-container" fxLayout="column" fxFlex="100%">
        <mat-form-field>
          <mat-label>Ciśnienie krwii górne</mat-label>
          <input type="number" matInput formControlName="bloodPressureUpper" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ciśnienie krwii dolne</mat-label>
          <input type="number" matInput formControlName="bloodPressureLower" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Wzrost</mat-label>
          <input type="number" matInput formControlName="height" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Waga</mat-label>
          <input type="number" matInput formControlName="weight" />
        </mat-form-field>
        <div class="button-container" fxLayout="column">
          <button
            mat-stroked-button
            color="primary"
            (click)="onEditDoctorExaminationDialog()"
            [disabled]="editDoctorExaminationForm.invalid"
          >
            Edytuj badania
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
