<p>add-blood-unit works!</p>
<form
  [formGroup]="addBloodUnitForm"
  fxLayout="column"
  class="add-blood-unit-form"
>
  <h2>Formularz kończenia donacji</h2>

  <div class="user-data-container">
    <mat-form-field>
      <mat-label>Po Covid?</mat-label>
      <mat-select matNativeControl  formControlName="isAfterCovid">
        <mat-option *ngFor="let covid of afterCovid" [value]="covid.value">
          {{covid.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-stroked-button
      color="primary"
      (click)="onAddBloodUnitDialog()"
      [disabled]="addBloodUnitForm.invalid"
    >
      Zakończ donację
    </button>
  </div>
</form>
