<h2 fxLayoutAlign="center">Dane użytkownika po zbadaniu krwii</h2>
<div class="table-container">
  <table
    *ngIf="dataSource !== null"
    mat-table
    class="mat-elevation-z8"
    [dataSource]="dataSource"
  >
    <ng-container matColumnDef="stage">
      <th mat-header-cell *matHeaderCellDef>Etap donacji</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.stage | donationsStagePipe }}
      </td>
    </ng-container>

    <ng-container matColumnDef="donationDate">
      <th mat-header-cell *matHeaderCellDef>Data donacji</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.donationDate || 'Brak' | date: 'dd.MM.YYYY HH:mm:ss' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rejectionReason">
      <th mat-header-cell *matHeaderCellDef>Powód odrzucenia</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.rejectionReason || 'Brak' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="pesel">
      <th mat-header-cell *matHeaderCellDef>Pesel</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.bloodDonator?.pesel || 'Brak' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="bloodTypeName">
      <th mat-header-cell *matHeaderCellDef>Grupa krwi</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.bloodDonator?.bloodType?.bloodTypeName || 'Brak' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.bloodDonator?.user?.email || 'Brak' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Imię</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.bloodDonator?.user?.firstName || 'Brak' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>Nazwisko</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.bloodDonator?.user?.surname || 'Brak' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let donation; columns: columns"></tr>
  </table>
</div>
<div class="button-container">
  <button mat-stroked-button color="primary" (click)="onDetailsClick()">
    Pokaż szczegóły
  </button>

  <button
    mat-stroked-button
    color="primary"
    (click)="onDoctorExamiationAddClick()"
  >
    {{ editable ? 'Dodaj' : 'Edytuj' }} wyniki badania
  </button>

  <button mat-stroked-button color="primary" (click)="onStatusChangeClick()">
    Zmień status donacji
  </button>
</div>
