.profile-page-container {
    max-width: 1400px;
    width: 100%;
  }
  
  .user-profile-data-container,
  .donations-list-container {
    max-width: 1400px;
    width: 100%;
  }
  
  .no-visits {
    padding-top: 32px;
    font-weight: 600;
  }