.nav-item {
    background-color: transparent;
    &:hover {
        color: #c9c9c9;
    }
}
.nav-menu-items {
    height: 100%;
}
.nav-list-column {
    background-color: white;
    height: calc(100vh - 64px);
    .nav-item {
        width: 50vw;
        color:black;
        &:hover{
            color:#c9c9c9;
        }
    }
}