<p>set-new-password works!</p>
<form [formGroup]="setNewPasswordForm">
  <mat-form-field>
    <mat-label>Hasło</mat-label>
    <span *ngIf="setNewPasswordForm.hasError('notSame')">COŚ JEST NIE TAK</span>
    <input
      matInput
      type="password"
      formControlName="password"
      matTooltip="Hasło powinno zawierać: 8 znaków, jedną dużą literę, jedną małą literę, jedną liczbę"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Powtórz hasło</mat-label>
    <input
      matInput
      type="password"
      formControlName="confirmPassword"
      matTooltip="Hasło powinno być identyczne jak w poprzednim polu"
    />
  </mat-form-field>
  <button
    mat-flat-button
    [disabled]="setNewPasswordForm.invalid"
    (click)="onSetPasswordClick()"
  >
    <span>Ustaw hasło</span>
  </button>
</form>
