h1 {
  color: red;
  padding-top: 20px;
}

h2 {
  padding: 10px 0;
}

.donation-process-container {
  text-align: center;
  background-color: white;
}

.list {
  text-align: start;
  padding-bottom: 15px;
}
