<h2 class="registration-container" fxLayoutAlign="center">Godziny Rejestracji</h2>
    <div fxLayout="column">
        <div>
            <h3 fxLayoutAlign="center">
                Krew pełna:
            </h3>
            <div fxLayoutAlign="center">
                Pn-Pt 7.00 - 17.30
            </div>
        </div>
        <div>
            <h3 fxLayoutAlign="center">Płytki Krwi:</h3>
            <div fxLayoutAlign="center">
                Pn-Pt 7.00 - 12.00
            </div>
        </div>
        <div>
            <h3 fxLayoutAlign="center">Osocze:</h3>
            <div fxLayoutAlign="center">
                Pn-Pt 7.00 - 16.00 <br>
                Sobota 7.30-11.00
            </div>
        </div>
    </div>
