h2{
    color:red;
    margin: 20px 0;
    text-align: center;
}

table{
    margin-bottom:2.5em;
    width: 100%;
    tr:nth-child(even) {background-color: #fcfcff;}
    th, td {
        padding: 0.2em;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }  
}

.trips-container{
    font-size: 1rem;
}