<mat-card>
  <mat-card-header>
    <mat-card-title
      >Formularz dodawania jednostki krwii z innego krwiodawstwa</mat-card-title
    >
    <mat-card-subtitle>Wpisz dane z jednostki krwii</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="addForeignBloodUnitForm"
      fxLayout="column"
      class="add-foreign-blood-unit-form"
      autocomplete="off"
    >
      <div class="user-data-container" fxLayout="column" fxFlex="100%">
        <mat-form-field>
          <mat-label>Grupa krwii</mat-label>
          <mat-select
            matNativeControl
            formControlName="bloodTypeName"
            autoFocus="{true}"
          >
            <mat-option
              *ngFor="let bloodType of bloodTypeName"
              [value]="bloodType.value"
            >
              {{ bloodType.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Identyfikator banku krwi</mat-label>
          <input type="number" matInput formControlName="foreignBloodUnitId" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Lokalizacja jednostki krwi</mat-label>
          <input matInput formControlName="bloodUnitLocation" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Po Covid?</mat-label>
          <mat-select matNativeControl formControlName="isAfterCovid">
            <mat-option *ngFor="let covid of afterCovid" [value]="covid.value">
              {{ covid.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="button-container" fxLayout="column">
          <button
            mat-stroked-button
            color="primary"
            (click)="onAddBloodUnitDialog()"
            [disabled]="addForeignBloodUnitForm.invalid"
          >
            Dodaj jednostkę krwii
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
