h2,
h1 {
  text-align: center;
  padding-top: 20px;
}

h1 {
  color: red;
}

.blood-needed-container {
  padding-top: 15vh;
}

.blood-state-container {
  padding: 15px 0;
  img {
    margin-top: 20px;
  }
}

.legend-container {
  margin-bottom: 25px;
}
