<form [formGroup]="setPasswordForm">
    <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input
            matInput
            type="password"
            formControlName="password"

            matTooltip="Hasło powinno zawierać: 8 znaków, jedną dużą literę, jedną małą literę, jedną liczbę"
        />
      <!-- pattern="^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=\D*\d)[A-Za-z\d!$%@#£€*?&]{8,}$" -->
    </mat-form-field>
    <mat-form-field>
        <mat-label>Powtórz hasło</mat-label>
        <input
            matInput
            type="password"
            formControlName="confirmPassword"

            matTooltip="Hasło powinno być identyczne jak w poprzednim polu"
        />
      <!-- pattern="^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=\D*\d)[A-Za-z\d!$%@#£€*?&]{8,}$" -->
    </mat-form-field>
    <button
        mat-flat-button
        [disabled]="setPasswordForm.invalid"
        (click)="onSetPasswordClick()"
    >
    <span>Ustaw hasło</span>
    </button>
</form>
