input:disabled {
    color: black;
}

.edit-data-container {
    width: 100%;
}

.user-data-form {
    margin-bottom: 10px;
    width: 100%;
}

.edit-button {
    margin: 32px 0;
}

h2{
    margin: 32px 10px;
}